[submodule "stylegan3"]
	path = stylegan3
	url = git@github.com:aetaffe/stylegan3.git
	branch = main
[submodule "latent-diffusion"]
	path = latent-diffusion
	url = git@github.com:aetaffe/latent-diffusion.git
